*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  background:#050505;
  font-family:Arial, Helvetica, sans-serif;
}

::-webkit-scrollbar{
  width:8px;
}

::-webkit-scrollbar-thumb{
  background:#9333ea;
  border-radius:10px;
}